.header {
    padding: 10px;
    text-align: center;
}

h2 {
    text-align: center;
}

form {
    margin-top: 2rem;
    text-align: center;
}

ul {
    margin-top: 2rem;
    text-align: center;

}

button {
    margin: 10px;
}

li {
    list-style-type: none;
    margin: 10px;
    font-weight: bold;
}


#monteLogo {
    
        width:150px;
}