body {
  background-color: #6c757d;
  text-align: center;
}

/* External Extensions Tab */

#outsideEmergency,
#insideEmergency {
  font-size: 2rem;
}

.external-table {
  text-align: center;
  font-weight: bold;
}

.hospital-title {
  text-align: center;
}

h5 {
  text-align: center;
}

.header {
  padding: 10px;
  text-align: center;
}

.tc-title {
  margin-right: 9%;
  font-size: 1.5rem;
}

form {
  margin-top: 2rem;
  text-align: center;
}

ul {
  margin-top: 2rem;
  text-align: center;
}

.btn-main {
  margin: 3rem 1rem;
  width: 15%;
  height: 12rem;
}

li {
  list-style-type: none;
  margin: 10px;
  font-weight: bold;
}

#monteLogo {
  margin-left: 9%;
  width: 150px;
  height: 25px;
}

#internal-ext {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* INTERNAL NUMBER TABLE STYLE */

.internal-klau-table,
.internal-nw-table,
.internal-foreman-table,
.internal-cham-table,
.internal-weiler-table,
.internal-wakefield-table,
.internal-wsq-table {
  width: 600px;
}

.directory-wrapper {
  display: flex;
  width: 1210px;
  margin: 0 auto;
}

/* .right-directory {
    margin-left: 20px;
} */

.left-directory,
.right-directory {
  width: 625px;
}

.right-directory {
  margin-left: 10px;
}
/* HEADERS */
.internal-header {
  margin: 0 auto;
  width: 1210px;
  padding: 10px;
  padding-left: 30rem;
  background: rgb(213, 53, 133);
  color: white;
}

.hospital-header,
.hospital-address {
  width: 600px;
  height: 40px;
  background-color: pink;
  padding: 7px;
  font-weight: 700;
}

/* .internal-wakefield-table,
.internal-cham-table,
.internal-weiler-table, 
.internal-wsq-table {
    margin-left: 50px;
}
.weiler-address,
.weiler-header,
.cham-address,
.cham-header,
.wakefield-address,
.wakefield-header,
.wsq-address,
.wsq-header {
    margin-left: 50px;
} */

/* .internal-klau-table th,
.internal-nw-table th {
    background-color: #413f3f;
    color: white;
    
} */

/* .internal-cham-table,
.internal-weiler-table,
.internal-wakefield-table,
.internal-wsq-table {
    width: 600px;
} */

.hospital-address {
  background-color: rgb(255, 205, 214);
  font-weight: 500;
}

/* INTERNAL HOSPITAL NAVBAR */

.hospitalSelection {
  color: black;
  text-decoration: none;
}

.selection {
  padding: 1rem;
}

.homeBtn {
  text-align: center;
}

/* on call */

select {
  margin-top: 2rem;
  margin-right: 12rem;
  width: 20rem;
  height: 2rem;
}
